/*Global Properties*/
.font-normal-bold{
    font-size: 14px;
    font-weight: 400;
}
.font-normal{
    font-size: 14px;
}
*{
    font-family: 'Poppins', sans-serif;
}
/*Login Page*/

#login-page{
    background-color: #ebeef6;
}
.logo{
    width: 110px;
}
.intro-bg{
    width: 550px;
}
@media screen and (max-width: 990px) {  
    .intro-bg {
      display: none;
    }
  }
.signin{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    color: #374a5e;
    font-weight: 700;
}
.pass{
    color: inherit;
}
.pass:hover{
    color: #df2a32;
    text-decoration: none;
}