/*Global Properties*/
/*Fonts*/
*{
    font-family: 'Poppins', sans-serif;
}
.font-normal-bold{
    font-size: 14px;
    font-weight: 500;
}
.font--normal{
    font-size: 14px;
}
.font--big{
    font-size: 26px;
}
.text--grey{
    color: #374a5e;
}

/*Fonts End*/

/*Login Page*/

#login-page{
    background-color: #ebeef6;
}
.logo{
    width: 110px;
}
@media screen and (max-width: 990px) {  
    .intro-bg {
      display: none;
    }
  }
.pass{
    color: inherit;
}
.pass:hover{
    color: #df2a32;
    text-decoration: none;
}