/*Global Properties*/
/*Fonts*/
*{
    font-family: 'Poppins', sans-serif;
}
.font-normal-bold{
    font-size: 14px;
    font-weight: 500;
}
.font--normal{
    font-size: 14px;
}
.font--big{
    font-size: 26px;
}
.font-big-bold{
    font-size: 26px;
    font-weight: 700;
}
.font--middle{
    font-size: 20px;
}
.text--grey{
    color: #374a5e;
}
.text--seagreen{
    color: #0dd19d;
}
.text--tomato{
    color: #f64e60;
}
.font--small{
    font-size: 12px;
}
.table--text{
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}
.table-text-md{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}
.table--text,.table-text-md tbody td{
    vertical-align: middle;
}

/*Fonts End*/


/*CUSTOM SCROLL BAR*/
.vertical-scroll{
    height: 375px;
    overflow: scroll;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  /* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgb(210, 210, 210);
}
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover{
   background-color: rgb(160, 160, 160);
}
/*CUSTOM SCROLL BAR END*/

/*Placeholder & Focused Links*/
.sm-placeholder::placeholder{
    font-size: 12px;
    color: black;
    font-weight: 500;
}
.md-placeholder::placeholder{
    font-size: 14px;
    color: black;
    font-weight: 400;
}
.list-group-item a:focus{
    color: #f64e60 !important;
}
/*Placeholder Ends*/

/*Borders*/
.list-group-item{
    border: none;
    border-bottom: 5px solid #ebeef6;
}
/*Borders End*/
/*Backgrounds*/
.bg-light-grey{
    background-color: #dbdbdbdc;
}
.bg--grey{
    background-color: #374a5e;
}
.bg--lavender{
    background-color: #ebeef6;
}
.bg--seagreen{
    background-color: #0dd19d;
}
.bg--tomato{
    background-color: #f64e60;
}
/*Backgrounds End*/



/* FOOTER */
.footer-text{
    font-size: 1vw;
}
/* FOOTER END */


/*Global Properties End*/



/*Local Properties*/

/*Login Page*/

#login-page{
    background-color: #ebeef6;
}
.logo{
    width: 110px;
}
@media screen and (max-width: 990px) {  
    .intro-bg {
      display: none;
    }
  }
.pass{
    color: inherit;
}
.pass:hover{
    color: #df2a32;
    text-decoration: none;
}

/*Login Page Ends*/



/*Working Periods Page*/

.navbar-link-logo{
    width: 30px;
}

/*Working Periods Page Ends */




/*Home Page*/

/* Cards */
.unused-card{
    background-color: transparent;
    border: none;
}
.plus-sign{
    font-size: 40px;
    font-weight: 300;
    background-color: white;
    text-decoration: none;
    color: black;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}
.plus-sign{
    transition: background-color .2s linear,color .2s linear;

}
.plus-sign:hover{
    text-decoration: none;
    background-color: #f64e60;
    color: white;
}
/* Cards End */

/*Home Page Ends*/

/*Customers*/

/*Customers Ends*/


/*Reports*/
.reports-scrollbar{
    height: 80vh;
    margin: 0 auto;
    overflow: overlay;
}
/*Reports Ends*/


/*Kitchen*/
.chef--logo{
    width: 35px;
}
/*Kitchen Ends*/