body{
    background-color: #ebeef6;
}
html  {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
*{
    font-family: Poppins, sans-serif;
}
.nav-bar-wrapper{
    background-color: white;
}
.navbar-logo{
    width: 120px;
}
.navbar-items-logo{
    width: 30px;
}
.navigation-link{
    color: rgba(0, 0, 0, 1);
}
.dropdown-icon{
    width: 28px;
}

/* ICONS */
.search-icon{
    background-color: #f64e60;
    color: white;
}
.search-icon:hover{
    color: white;
    background-color: crimson;
}

.angle-icon{
    font-size: 10px;
    color: black;
    border: 1px solid rgb(90, 90, 90);
}
.bw-angle-icon{
    font-size: 10px;
    margin: 0;
    background-color: crimson;
    color: white;
}
.bw-angle-icon:hover{
    color: white;
}
.angle-icon:hover{
    background-color: #f64e60;
    color: white;
}


/* 1ST INFPUTS ROW */
.search-area{
    background-color: #ebeef6;
    border: none;
}


/* MAIN */
.main{
    background-color: #ebeef6;
    padding: 10px 0;
}
.top-heading{
    font-size: 20px;
    font-weight: 700;
}

.kitchen--heading{
    font-size: 22px;
    font-weight: 700;
}

.info-text-bottom{
    font-size: 13px;
}
.select-placeholder{
    color: black;
    font-size: 12px;
}
.date-placeholder::placeholder{
    color: black;
    font-size: 12px;
}
.white-color-no-border{
    background-color: white;
    border: none;
}
.order-menu-card-head{
    font-size: 18px;
    text-align: center;
}
.order-menu-card-link{
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color:black;
}
.card-btn-transition:hover{
    cursor: pointer;
}
.card-btn-transition:hover .order-menu-card-link{
    cursor: pointer;
    text-decoration: none;

}
.order-menu-card-link:focus{
    background-color: #f64e60;
    color:white;
}
.order-token-text{
    font-size: 14px;
    font-weight: 700;
    color: #f64e60;
}
.small-font{
    font-size: 14px;
}
.normal--font{
    font-size: 20px;
}
/* KITCHEN */
.kitchen-order-list-head{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
/* CHEF LOGO */
.chef--logo{
    width: 35px;
}

/* BUTTONS */
.process-btn{
    font-size: 14px;
    font-weight: 500;
    background-color: rgba(190, 190, 190, 0.596);
    color: dodgerblue;
}
.process-btn:hover{
    background-color: rgb(73, 125, 221);
    color: white;
}
.modal-cross{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
.action-btn{
    font-weight: 700;
    font-size: 20px;
}
.dlt-order-btn{
    font-size: 14px;
    font-weight: 500;
}
.dlt-order-btn:hover{
    color: grey;
}
.filter-btn{
    background-color: #fff;
    text-transform: uppercase;
    background-color: rgb(224, 80, 80);
    color: white;
}
.filter-btn:hover{
    color: white;
    background-color: rgb(228, 50, 50);
}
.kitchen-order-list-btn{
    font-size: 12px;
}
.tomato-color{
    background-color: #f64e60;
    color: white;
}
.tomato-color:hover{
    background-color: #e63d4d;
}
.seagreen-color{
    background-color: #0dd19d;
    color: white;
}
.seagreen-color:hover{
    background-color: #0eb488;
}
.seagreen-color:hover, 
.tomato-color:hover{
    color: white;
}
.active-order-menu-btn{
    background-color: #09c2de;
    outline: none !important;
    box-shadow: none !important;
    color: white;
}
.active-order-menu-btn:hover{
    color: white;
}
.active-order-menu-btn:active{
    background-color: #0ac090;
}
.active-order-menu-btn:focus{
    background-color: #0ac090;
}
.order-menu-side-btns{
    font-weight: 700;
    outline: none !important;
    box-shadow: none !important;
}
.order-menu-side-btns:focus{
    color: white;
    background-color: #f64e60;
}
.list-group-item a{
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.list-group-item a:focus{
    color: #f64e60;
}

/* TABLE */
.table--text, .modal-table-text{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.btn--text{
    font-size: 14px;
}
.modal-table-head{
    font-weight: 700;
}
.table--text td{
    vertical-align: middle;
}

.kitchen-order-list-table{
    font-size: 12px;
}


.order-menu-scrollbar{
    height: 69vh;
    margin: 0 auto;
    overflow: scroll;
}
.reports-scrollbar{
    height: 80vh;
    margin: 0 auto;
    overflow: overlay;
}
.order-menu-scrollbar:hover{
    overflow-y: scroll;
}
.vertical-scroll{
    height: 375px;
    overflow: scroll;
}

/*CUSTOM SCROLL BAR*/
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  /* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(100, 100, 100, 0.281);
}
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover{
   background-color: rgba(71, 71, 71, 0.575);
   cursor: pointer;
}

/* ZOOM TRANSITION */

.image-transition:hover .img-trans{
    transform: scale(1.1);
}
.image-transition{
    overflow: hidden;
}
.img-trans{
    transition: transform .1s linear;
}
/* FOOTER */

.footer-text{
    font-size: 11px;
    font-weight: 400;
}
.fixed--footer{
    position: sticky;
    bottom: 1px;
    background-color: #fff;
}
/* COLORS */
.dark--black{
    color: #000 !important;
}
.bg-dark-black{
    background-color: #000 !important;
}