html  {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}
*{
    font-family: Poppins, sans-serif;
}
.navbar-logo{
    width: 120px;
}
.navbar-items-logo{
    width: 30px;
}
.navigation-link{
    color: rgba(0, 0, 0, 1);
}
.dropdown-icon{
    width: 28px;
}

/* ICONS */
.search-icon{
    background-color: #f64e60;
    color: white;
}
.search-icon:hover{
    color: white;
    background-color: crimson;
}

.angle-icon{
    font-size: 10px;
    color: black;
    border: 1px solid rgb(90, 90, 90);
}
.bw-angle-icon{
    font-size: 10px;
    margin: 0;
    background-color: crimson;
    color: white;
}
.bw-angle-icon:hover{
    color: white;
}
.angle-icon:hover{
    background-color: #f64e60;
    color: white;
}


/* 1ST INFPUTS ROW */
.search-area{
    background-color: #ebeef6;
    border: none;
}


/* MAIN */
.main{
    background-color: #ebeef6;
    padding: 10px 0;
}
.top-heading{
    font-size: medium;
    font-weight: 700;
}

.info-text-bottom{
    font-size: 13px;
}

/* TABLE */
.table--text{
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}
.btn--text{
    font-size: 12px;
}


.vertical-scroll{
    height: 375px;
    overflow: scroll;
}

/*CUSTOM SCROLL BAR*/
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  /* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgb(210, 210, 210);
}
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover{
   background-color: rgb(160, 160, 160);
}

/* FOOTER */

.footer-text{
    font-size: 10px;
    font-weight: 400;
}
.fixed--footer{
    position: sticky;
    bottom: 1px;
    background-color: #fff;
}